# CQVisualizer Config File
NumQueries=2

# Connection Information
#Host=jdbc:postgresql://localhost:5432/sample
#User=sailesh
Password=

# Query Information
Title0=Destination IP vs Traffic
XLabel0=Destination IP
YLabel0=Number of Packets
Query0=select dst, count(*) as c from network.tcpdump as st group by dst window st ['5 seconds']
XField0=dst
YField0=c
ExpirationTime0=10000
HistorySize0=10
WindowSize0=20

Title1=Destination Port vs Traffic
XLabel1=Destination Port
YLabel1=Number of Packets
Query1=select dport, count(*) as c from network.tcpdump as st group by dport window st ['5 seconds']
XField1=dport
YField1=c
ExpirationTime1=10000
HistorySize1=10
WindowSize1=20

# Extra button Information
NumExtraButtons=0
