# Lottery CQVisualizer config file

NumQueries=1

# Connection Information
#Host=jdbc:postgresql://datafix.cs.berkeley.edu:5432/sample
Host=jdbc:postgresql://localhost:5432/sample
User=sailesh
Password=

# Query Information
Title0=Number of Enqueues vs Operator
XLabel0=Operator ID
YLabel0=Number of Enqueues
Query0=select    top.opdesc as stem, count(*) as c from      tcq_queues as tq, tcq_operators as top where     tq.opid = top.opid and           top.opkind = 'F' and           tq.qkind   = 'I'  and           tq.kind    = 'E'  group by  stem window    tq ['5 seconds']
XField0=stem
YField0=c
ExpirationTime0=5000
HistorySize0=10
WindowSize0=1

# Extra button Information
NumExtraButtons=1

ButtonTitle0=Switch Mode
ButtonCommand0=touch /tmp/.switch
