%telegraph host
%telehost=datafix.cs.berkeley.edu
%port=2000
%port=8765
keyTitle=Incident Information

%starting USA
startLonUS=-96.5
startLatUS=38.1
startWidUS=52
startHgtUS=52

%starting long/lat (Bay Area)
startLonBA=-122.2
startLatBA=37.8
startWidBA=.9
startHgtBA=.9

%San Diego
startLonSD=-117.0
startLatSD=32.95
startWidSD=.9
startHgtSD=.9

% California
startLonCA=-119.5
startLatCA=35.8
startWidCA=3
startHgtCA=7

%turn roads on
drawRoads=true

%params f25r running queries based on the current time
timeTable=loggedIncidents
eventImage=crash.gif
animalImage=turtle.gif
accidentImage=accident.gif
pedImage=ped.gif
debrisImage=trash.gif

% history slider OFF
historical=false

% map tiling ON
% if maptilingCache = TRUE, then download all files in first level. Download BOTH SD and BA maps.
% maptilingLevel cannot be greater than 2!!! When maptilingCache is on, maptilingLevel defaults to 1. 
maptiling=true
maptiles=9
maptilingCache=true
maptilingLevel=2

%JDBC stuff
%dbUrl=jdbc:postgresql://datafix.cs.berkeley.edu
%dbPort=8765
dbName=sample
%dbUser=tcq
dbPassword=""

% number of tuples to fetch when joining. Default =20.
fetchtuplenumstations=25 
fetchtuplenumincidents=1
fetchtuplenumstationincidents=1
fetchtuplenumgeocode=1

